/**
 * @name customlight
 * @description Allows you to customize Discord's native Color Scheme.
 * @author DevilBro
 * @version 1.0.0
 * @authorId 278543574059057154
 * @invite Jx3TjNS
 * @donate https://www.paypal.me/MircoWittrien
 * @patreon https://www.patreon.com/MircoWittrien
 * @website https://mwittrien.github.io/
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

/* @import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css'); */
@import url('https://raw.githubusercontent.com/ronindoll/paperflowers/main/satou/others/discord/customlight-modifiedimportedsheets/DiscordRecolor.css');

:root {
  --accentcolor: 215,153,33;
  --accentcolor2: 177,98,134;
  --linkcolor: 69,133,136;
  --mentioncolor: 215,153,33;
  --textbrightest: 40,40,40;
  --textbrighter: 60,56,54;
  --textbright: 60,56,54;
  --textdark: 102,92,84;
  --textdarker: 80, 69, 73;
  --textdarkest: 168,153,132;
  --font: Serif;
  --backgroundaccent: 235,233,219;
  --backgroundprimary: 249,248,237;
  --backgroundsecondary: 249,248,237;
  --backgroundsecondaryalt: 235,233,219;
  --backgroundtertiary: 235,233,219;
  --backgroundfloating: 249,248,237;
  --settingsicons: 1;

  --successcolor: 152, 151, 26;
  --warningcolor: 215, 153, 33;
  --dangercolor: 204, 36, 29;
}

/* Any custom CSS below here */


